# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

# Blacklist
.gitignore
*.DS_Store
*.db
*.json
*.log
*.pem
*.pyc
*.swp
*__pycache__

# Ignore folders.
.storage
.cloud
.google.token
tts/
core

# Specific yamls to ignore
ip_bans.yaml
secrets.yaml
