# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
/*

# Whitelist
!*.yaml
!.gitignore
!*.md

# Whitelist directories
!custom_components/
!lovelace/
!scripts/

#
!*www/
*www/*
!*www/*.css
!*www/*.js

# Blacklist
*__pycache__
*.pyc
*.DS_Store

# Ignore folders.
.storage
.cloud
.google.token

# Specific yamls to ignore
ip_bans.yaml
secrets.yaml
