# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

# Blacklist
.HA_VERSION
.gitignore
*.DS_Store
*.db
*.db-shm
*.db-wal
*.json
*.log
*.log.*
*.pem
*.pyc
*.swp
*__pycache__

# Ignore folders.
.storage
.cloud
.google.token
backups/
image/
tts/
core
www/doods
www/community
custom_components/hacs
custom_components/govee_lan
custom_components/tapo

# Specific yamls to ignore
ip_bans.yaml
secrets.yaml
